<mat-toolbar>
    <div class="logo">
        <a><span>L.I</span></a>
    </div>
    <div class="navbar-list">
        <ul fxLayoutGap='10px' fxLayout='column' class="navigation-items">
            <li (click)="sharedService.homeClick()">
                <button mat-icon-button>
                    <a 
                        routerLink="/"
                        routerLinkActive="list-item-active" 
                        [routerLinkActiveOptions]="{exact: true}"
                        matTooltip="Home"
                        [matTooltipPosition]="TooltipPosition">                                    
                        <mat-icon fxFlex>home</mat-icon>
                    </a>                                        
                </button>
            </li>
            <li (click)="sharedService.aboutClick()">
                <button mat-icon-button>
                    <a  
                        routerLink="/about" 
                        routerLinkActive="list-item-active" 
                        [routerLinkActiveOptions]="{exact: true}"             
                        matTooltip="About"
                        [matTooltipPosition]="TooltipPosition">
                       <mat-icon fxFlex>person_outline</mat-icon>
                    </a>                    
                </button>
            </li>
            <li (click)="sharedService.resumeClick()"> 
                <button mat-icon-button>
                    <a  
                        routerLink="/resume" 
                        routerLinkActive="list-item-active" 
                        [routerLinkActiveOptions]="{exact: true}"
                        matTooltip="Resume"
                        [matTooltipPosition]="TooltipPosition">
                        <mat-icon fxFlex>settings</mat-icon>
                    </a>                    
                </button>
            </li>
            <li (click)="sharedService.portfolioClick()">
                <button mat-icon-button>
                    <a  
                        [ngStyle]="{color: sharedService.portfolioFocus ? '#5ac24e' : '#a9a9a9'}"
                        routerLink="/portfolio" 
                        routerLinkActive="list-item-active" 
                        [routerLinkActiveOptions]="{exact: true}"             
                        matTooltip="Portfolio"
                        [matTooltipPosition]="TooltipPosition">                                                            
                        <mat-icon fxFlex *ngIf="sharedService.portfolioFocus; else hoverEffectHome;">visibility</mat-icon>
                        <ng-template #hoverEffectHome>
                            <mat-icon fxFlex appHover>visibility</mat-icon>
                        </ng-template>
                    </a>                                     
                </button>
            </li>
            <li (click)="sharedService.contactClick()">
                <button mat-icon-button>
                    <a  
                        routerLink="/contacts" 
                        routerLinkActive="list-item-active" 
                        [routerLinkActiveOptions]="{exact: true}"
                        matTooltip="Contacts"
                        [matTooltipPosition]="TooltipPosition">
                        <mat-icon fxFlex>mail_outline</mat-icon>
                    </a>                   
                </button>
            </li>
        </ul>
    </div>
    <div class="contact-items">
        <button mat-icon-button>
            <a
                href="https://www.facebook.com/lasha.iakobadze.9/"
                target="_blank">
                <mat-icon fxFlex>facebook</mat-icon>
            </a>                    
        </button>

        <button mat-icon-button>
            <a
                href="https://www.linkedin.com/in/lasha-iakobadze-530b3115a/"
                target="_blank"
                class="linke-din">
                <p>in</p>
            </a>                    
        </button>

        <button mat-icon-button>
            <a 
                href="https://github.com/lashaiakobadze"
                target="_blank">
                <p>git</p>
            </a>                    
        </button>

        <div class="toggle-button" (click)="onToggleSidenav()">
            <div class="btn">
                <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
                <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
                <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"></div>
            </div>
        </div>
    </div>
</mat-toolbar>