<div class="about">
    <span class="about_title">ABOUT ME</span>
    <div class="about_text">
        <p>
            <strong>Hello, I’m a Lasha</strong>, web-developer based on Tbilisi. <br>
            I have a little experience in web site design &amp; building <br>
            and customization. Also I am good at <strong>html, css, <br>
            javascript, scss/sass, Angular.</strong>
        </p>
    </div>
    <div class="circle-bts">
        <a
         href="javascript:void(0)" 
         (click)="downloadPdf()"
         ><span><span class="material-icons">download</span>Download CV</span></a>
        <a href="https://github.com/lashaiakobadze" target="_blank"><span>git</span></a>
        <a href="https://www.linkedin.com/in/lasha-iakobadze-530b3115a/" target="_blank"><span>in</span></a>
        <a href="https://www.facebook.com/lasha.iakobadze.9/" target="_blank"><span>f</span></a>
    </div>
    <h1 style="width: 100%;"><b>Fun</b><strong> Facts</strong></h1>
    <div class="about_services">
        <div class="service">
            <div class="icon">
                <span class="material-icons">
                    settings_accessibility
                </span>
            </div>
            <div class="name">hobby</div>
            <p>
                Adventure moto trip.
                <br>
                Football.
                <br>
                Listening to music
                <br>
                Reading a book.
            </p>
        </div>
        <div class="service">
            <div class="icon">
                <span class="material-icons">
                    fact_check
                </span>
            </div>
            <div class="name">Facts</div>
            <p>
                20+ Albumes Listened.
                <br>
                50+ Books Readed.
                <br>
                500+ Logic task author.
                <br>
                10 little Projects Completed.
            </p>
        </div>
    </div>
    <h1 style="width: 100%;"><b>Our</b><strong> Clients</strong></h1>
    <div class="about_clients">
        <div class="client">
            <div class="image">
                <a>
                    <img src="./assets/client_1.png" alt="">
                </a>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <a>
                    <img src="./assets/client_4.png" alt="">
                </a>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <a>
                    <img src="./assets/client_1.png" alt="">
                </a>
            </div>
        </div>
        <div class="client">
            <div class="image">
                <a>
                    <img src="./assets/client_4.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<img [src]="aboutImg" alt="about-img" class="about-img">