<div class="resume">
    <span class="resume_title">RESUME</span>
    <div class="resume_work">
        <div class="experience">
            <h1 style="width: 100%;"><b>My</b><strong> Experience</strong></h1>
            <div class="experience_content">
                <!-- resume item -->
                <div class="experience_content_item">
                    <div class="name">Front-end web developer (Intership)</div>
                    <div class="date">2020-Present <span>|</span> Singular.</div>
                    <p>
                        We actively study the latest technologies and work on small real projects.
                    </p>
                </div>
                <hr>
                <!-- resume item -->
                <div class="experience_content_item">
                    <div class="name">Lecturer</div>
                    <div class="date">2020-present <span>|</span> Rondeli Foundation.</div>
                    <p>As a lecturer, I am obliged to solve logical tasks with a simple algorithm and write them in the most
                        concise way possible.</p>
                </div>
                <hr>
                <!-- resume item -->
                <div class="experience_content_item">
                    <div class="name">Project Manager, Coordinator</div>
                    <div class="date">2019-Present <span>|</span> Vladimir Komarov Tbilisi School of Physics and Mathematics N199.</div>
                    <p>My specific job is to plan the curriculum and resolve financial issues. As well as signing a memorandum of understanding and arranging other details.
                    </p>
                </div>
            </div>
        </div>

        <div class="education">
            <h1 style="width: 100%;"><b>My</b><strong> Education</strong></h1>
            <div class="education_content">
                <!-- resume item -->
                <div class="education_content_item">
                    <div class="name">Mathematics and Computer Science</div>
                    <div class="date">2016-2020<span>|</span>Tbilisi State Universality</div>
                    <p>
                        Bachelor in Mathematics and Computer Science, 3.0 GPA.
                    </p>
                </div>
                <hr>
                <!-- resume item -->
                <div class="education_content_item">
                    <div class="name">Web-Development</div>
                    <div class="date">2020-2020 <span>|</span>BitCamp</div>
                    <p>Beginner to expert Full-stack Development, with the following technologies: 
                        HTML, CSS, JavaScript, Node.Js and MongoDB.
                    </p>
                </div>
                <hr>
                <!-- resume item -->
                <div class="education_content_item">
                    <div class="name">Physics and Mathematics</div>
                    <div class="date">2012-2016<span>|</span> Vladimir Komarov Tbilisi School of Physics and Mathematics N199.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="resume_skils">
        <div class="personal">
            <h1 style="width: 100%;"><b>Personal</b><strong> Skills</strong></h1>
            <div class="personal_skills">
                <ul>
                    <li> 
                        <div class="name">Communication</div>
                        <div class="progress" style="width:90%;"></div>
                    </li>
                    <li> 
                        <div class="name">Team Work</div>
                        <div class="progress" style="width:65%;"></div>
                    </li>
                    <li> 
                        <div class="name">Leadership</div>
                        <div class="progress" style="width:75%;"></div>
                    </li>
                    <li>
                        <div class="name">Language</div>
                        <div class="progress" style="width:50%;"></div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="profesional">
            <h1 style="width: 100%;"><b>Professional</b><strong> Skills</strong></h1>
            <div class="profesional_skills">
                <ul>
                    <li> 
                        <div class="name">Angular / TypeScript</div>
                        <div class="progress"  style="width:20%;"></div>
                    </li>
                    <li> 
                        <div class="name">HTML / SCSS / JS</div>
                        <div class="progress" style="width:90%;"></div>
                    </li>
                    <li> 
                        <div class="name">Node.js / MongoDB / SQL</div>
                        <div class="progress" style="width:40%;"></div>
                    </li>
                    <li>
                        <div class="name">Algorithms and Complexity</div>
                        <div class="progress" style="width:85%;"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<img [src]="resumeImg" alt="resume-img" class="resume-img">