@import '../../../scss/styles.scss';

:host {
    @include content-size;
    display: flex;
    flex-direction: row-reverse;

    @include response(lg) {
        flex-direction: column-reverse;
    }
}

.map {
    @include content-size(40%, 100%);
    background: #181818;
    opacity: .4;

    iframe {
        @include content-size;
    }

    @include response(lg) {
        display: none;
    }
}


@include scroll;

.contacts {
    @include content-size(60%, 100%);
    background: linear-gradient(135deg,#1d1e21 0,#3e4246 100%);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    @include response(lg) {
        @include content-size;
    }
    
    h1 {
        @include sectionTitle;
        white-space: nowrap;
    }

    &_title {
        @include shadowTitle;
        
        @media (max-width: 1200px) {
            font-size: 80px;
        }
    }

    &_info {
        @include flexCenter(space-evenly, flex-start);
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    
    &_form {
        @include content-size;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 25px;

        .form {
            @include content-size;
            @include colorBox;
            padding: 14px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                @include hoverBox;
            }

            &_inputs {
                @include content-size;
                display: flex;
                justify-content: space-evenly;
            }

            &_button {
                width: 100%;
                padding: 10px 20px;
                padding-top: 30px;
                display: flex;
                align-items: flex-start;
            }

            input, textarea, button {
                background: transparent;  
                border: none;     
                outline: none;
                resize: none;
                color: color(hoverCol);
                font-size: size(xxs);
                border-bottom: 1px solid #777;  
            }

            .name_input, .mail_input {
                @include content-size(45%, 60px);       
            }

            .message_area {
                @include content-size(93%, 80px);
            }

            .button {
                display: flex;
                align-items: center;
                border: none;
                cursor: pointer;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;  
                
                &:hover {
                    .material-icons {
                        margin-left: 10px;
                        transition: all .5s ease-in-out .5s;
                    }
                }
            }
        }    
    }
    
    .map-container {
        @include content-size(100%, 400px);
        @include flexColumn;
        padding: 25px;
        margin-bottom: 50px;

        @media (min-width: 900px) {
            display: none;
        }

        iframe {
            @include content-size;
            border-radius: 18px;
            background: #181818;
            opacity: .4;
        }
    }
}


.address, .phone, .email, .freelance {
    @include colorBox;
    @include content-size(40%, 85px);
    margin: 18px 5px;
    display: flex;

    &:hover {
        @include hoverBox;
    }

    mat-icon {
        @include content-size(25%, 85%);
        @include flexCenter;
        font-size: size(lg);
        color: color(focusCol);
    }

    .contact_detals {
        @include content-size;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: 'Poppins', sans-serif;  

        b {
            font-size: 18px;
            color: color(hoverCol);
        }

        p {
            margin: 0;
        }
    }

    @include response(lg) {
        width: 45%;
        margin: 18px 10px;
    }

    @include response(md) {
        width: 90%;
    }
}