<div *ngIf="projectsService.adminPanelInterface" class="admin-panel_interface">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmitProject()"  class="admin-panel_interface_form">
        <label for="name" >project name</label>
        <input
         type="text" 
         class="input" 
         formControlName='name'>

        <label for="link">project link</label>
        <input
         type="text" 
         class="input"
         formControlName='link'>

        <label for="image">project image</label>
        <input
         type="text" 
         class="input" 
         formControlName='image'>

        <label for="type">project type</label>
        <input
         type="text" 
         class="input" 
         formControlName='type'>

        <button type="submit" class="button" [disabled]="!projectForm.valid">Add project</button>
        <button type="button" class="log-out" (click)="logOut()">Log out</button>
    </form>
</div>
