<div *ngIf="projectsService.adminPanelInterface" class="admin-panel_interface">
    <form action="" class="admin-panel_interface_form">
        <label for="name" >project name</label>
        <input type="text" class="input" #name>

        <label for="link">project link</label>
        <input type="text" class="input" #link>

        <label for="image">project image</label>
        <input type="text" class="input" #image>

        <label for="type">project type</label>
        <input type="text" class="input" #type>

        <button type="button" class="button" [ngClass]="correctPrj ? 'corect_pasword' : 'wrong_pasword'" (click)="submitProject()">Add project</button>
        <button type="button" class="log-out" (click)="logOut()">Log out</button>
    </form>
</div>