@import '../../../../scss/styles.scss';

.admin-panel {
    @include content-size;
    @include flexColumn;
    padding: 50px;

    @include response(md) {
        padding: 10px;
    }

    &_title {
        @include sectionTitle;
        white-space: nowrap;
        font-size: size(xl);

        @include response(md) {
            font-size: size(lg);
        }
    }
}

