@import '../../../scss/styles.scss';

:host {
    display: flex;
    @include content-size;

    @include response(lg) {
        flex-direction: column;
    }
}


.mat-sidenav-container {
    height: 100%;

    @include response(lg) {
        @include content-size(100%, 46px);
    }
}


.mat-sidenav {
    position: absolute;
    z-index: 10;
    margin-top: 44px;
    margin-right: 35%;
    width: 100%;
}


main {
    @include content-size;
}