<mat-nav-list fxLayoutGap='20px' [ngClass]="navListIsOpen ? 'show' : 'hide'">
    <button mat-icon-button (click)="sharedService.homeClick()">
        <a  
            routerLink="/" 
            routerLinkActive="list-item-active" 
            [routerLinkActiveOptions]="{exact: true}"
            matTooltip="Home"
            [matTooltipPosition]="TooltipPosition">
            <mat-icon fxFlex>home</mat-icon>
        </a>                    
    </button>

    <button mat-icon-button (click)="sharedService.aboutClick()">
        <a  
            routerLink="/about" 
            routerLinkActive="list-item-active" 
            [routerLinkActiveOptions]="{exact: true}"
            matTooltip="About"
            [matTooltipPosition]="TooltipPosition">
            <mat-icon fxFlex>person_outline</mat-icon>
        </a>                    
    </button>

    <button mat-icon-button (click)="sharedService.resumeClick()">
        <a  
            routerLink="/resume" 
            routerLinkActive="list-item-active" 
            [routerLinkActiveOptions]="{exact: true}"
            matTooltip="Resume"
            [matTooltipPosition]="TooltipPosition">
            <mat-icon fxFlex>settings</mat-icon>
        </a>                    
    </button>

    <button mat-icon-button (click)="sharedService.portfolioClick()">
        <a  [ngStyle]="{color: sharedService.portfolioFocus ? '#5ac24e' : '#a9a9a9'}"
            routerLink="/portfolio" 
            routerLinkActive="list-item-active" 
            [routerLinkActiveOptions]="{exact: true}"
            matTooltip="Portfolio"
            [matTooltipPosition]="TooltipPosition">
            <mat-icon fxFlex *ngIf="sharedService.portfolioFocus; else hoverEffectPortfolio;">visibility</mat-icon>
            <ng-template #hoverEffectPortfolio>
                <mat-icon fxFlex appHover>visibility</mat-icon>
            </ng-template>
        </a>                    
    </button>

    <button mat-icon-button (click)="sharedService.contactClick()">
        <a  
            routerLink="/contacts" 
            routerLinkActive="list-item-active" 
            [routerLinkActiveOptions]="{exact: true}"
            matTooltip="Contacts"
            [matTooltipPosition]="TooltipPosition">
            <mat-icon fxFlex>mail_outline</mat-icon>
        </a>                    
    </button>
</mat-nav-list>