<mat-nav-list fxLayoutGap='20px' [ngClass]="navListIsOpen ? 'show' : 'hide'">
    <button mat-icon-button>
        <a  
            routerLink="/" 
            routerLinkActive="list-item-active" 
            [routerLinkActiveOptions]="{exact: true}"
            matTooltip="Home"
            [matTooltipPosition]="TooltipPosition">
            <mat-icon fxFlex>home</mat-icon>
        </a>                    
    </button>

    <button mat-icon-button>
        <a  
            routerLink="/about" 
            routerLinkActive="list-item-active" 
            [routerLinkActiveOptions]="{exact: true}"
            matTooltip="About"
            [matTooltipPosition]="TooltipPosition">
            <mat-icon fxFlex>person_outline</mat-icon>
        </a>                    
    </button>

    <button mat-icon-button>
        <a  
            routerLink="/resume" 
            routerLinkActive="list-item-active" 
            [routerLinkActiveOptions]="{exact: true}"
            matTooltip="Resume"
            [matTooltipPosition]="TooltipPosition">
            <mat-icon fxFlex>settings</mat-icon>
        </a>                    
    </button>

    <button mat-icon-button>
        <a  
            routerLink="/portfolio" 
            routerLinkActive="list-item-active" 
            [routerLinkActiveOptions]="{exact: false}"
            matTooltip="Portfolio"
            [matTooltipPosition]="TooltipPosition">
            <mat-icon fxFlex>visibility</mat-icon>
        </a>                    
    </button>

    <button mat-icon-button>
        <a  
            routerLink="/contacts" 
            routerLinkActive="list-item-active" 
            [routerLinkActiveOptions]="{exact: true}"
            matTooltip="Contacts"
            [matTooltipPosition]="TooltipPosition">
            <mat-icon fxFlex>mail_outline</mat-icon>
        </a>                    
    </button>
</mat-nav-list>